*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background: url('../images/header_bg.png') no-repeat;
    height: 800px;
}
.header-content {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    color: white;
    text-decoration: none; /* отключает подчеркивание у ссылки */
    background: black;
    display: inline-block; /* Строчно блочный */
    padding: 8px 5px ;
    font-size: 25px; /* Задает размер шрифта */
    font-family: Arial;
    font-weight: bold; /* Задает жирность шрифта */
    text-transform: uppercase; /* Делает все буквы заглавными */      
}
.nav-message {
    color: white;
    text-decoration: none;
    font-family: Arial ;
}
.header-title {
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
.header-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content:  center;
}
.header-call { 
    display: flex;
    background: white;
    color: black;
    width: 300px;
    justify-content: center;
    font-weight: bold; 
    text-transform: uppercase;
    padding: 15px 0px;
    text-decoration: none; 
    font-family: Arial;
}
.main{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.about-title{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
}
.about-description{
    text-align: center;
    font-family: Arial;
    margin: 30px 0;
   
}
.about-link{ 
    display: flex;
    background: black;
    color: white;
    width: 300px;
    justify-content: center;
    padding: 15px 0;
    margin: 0% auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
}
.myworks-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    margin: 50px 0;
    
}
.card{
    max-width: 350px;
    width: 100%;
    border: 2px solid black;
    padding: 15px 5px;
    margin-bottom: 20px;
}
.card-img {
    width: 100%;
}
.card-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    margin-bottom: 20px ;
}
.card-description{
    text-align: center;
    font-family: Arial;
    margin: 20px 0;
}
.card-link {
    display: block;
    color: white;
    text-transform: uppercase ;
    background-color: black;
    font-family: Arial;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footer {
    padding: 25px 0;
    background:  black;
    display: flex;
    justify-content: center;
}
.footer-link {
    margin: 0 20px;
}